@font-face {
    font-family: 'diablolight';
    src: url('../fonts/diablo_l-webfont.woff2') format('woff2'),
         url('../fonts/diablo_l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    font-size: 10px;
    font-family: 'diablolight';
  }

.welcomepage {
      background-image: url("../images/tristram.png");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-color: black
  }

.diablopage {
      background-image: url("../images/diablo.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }

.warriorpage {
      background-image: url("../images/warrior.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }

  .roguepage {
        background-image: url("../images/rogue.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

  .sorcererpage {
        background-image: url("../images/sorcerer.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

p1 {
  font-family: 'diablolight';
  font-size: 16px;
  color: white
}

h2 {
    font-family: 'diablolight';
    font-size: 24px;
    text-align: center;
    text-align:
    margin: 0;
    padding: 20px 0;
    color: white;
}

.storytext {
  color: white;
  font-style: italic;
  font-size: 20px
}
  a:link {
    text-align: center;
    text-decoration: none;
    color: white;
  }

  a:visited {
    color: white;
  }

  a:hover {
    color: red;
  }

  a:active {
    color: white;
  }
